@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/*#region Breakpoint Mixins#*/
/*#endregion#*/
/*#region Fonts#*/
/*#endregion#*/
/*#region Palette#*/
/*#endregion#*/
/*#region Margins#*/
/*#endregion#*/
/*#region Paddings#*/
/*#endregion#*/
/*#region Layout#*/
/*#endregion#*/
/*#region Border Radius*/
/*#endregion#*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-primary {
  background: blue;
}

.bg-secondary {
  background: red;
}

.bg-terciary {
  background: green;
}

.bg-error {
  background: purple;
}

.bg-black {
  background: #424242;
}

.bg-white {
  background: #f2f2f2;
}

.font-xs {
  font-size: 0.9rem;
}

.font-sm {
  font-size: 1rem;
}

.font-md {
  font-size: 1.5rem;
}

.font-lg {
  font-size: 2rem;
}

.font-xl {
  font-size: 2.5rem;
}

.font-xxl {
  font-size: 3rem;
}

.text-primary {
  color: blue;
}

.text-secondary {
  color: red;
}

.text-terciary {
  color: green;
}

.text-error {
  color: purple;
}

.text-black {
  color: #424242;
}

.text-white {
  color: #f2f2f2;
}

.font-100 {
  font-weight: 100;
}

.font-200 {
  font-weight: 200;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2.25rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 3.75rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2.25rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 3.75rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 2.25rem;
}

.mr-4 {
  margin-right: 3rem;
}

.mr-5 {
  margin-right: 3.75rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 2.25rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 3.75rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 2.25rem;
}

.ml-4 {
  margin-left: 3rem;
}

.ml-5 {
  margin-left: 3.75rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-2 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-3 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.mx-4 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-5 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-3 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.my-4 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-5 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2.25rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 3.75rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 2.25rem;
}

.pt-4 {
  padding-top: 3rem;
}

.pt-5 {
  padding-top: 3.75rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 2.25rem;
}

.pr-4 {
  padding-right: 3rem;
}

.pr-5 {
  padding-right: 3.75rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 2.25rem;
}

.pb-4 {
  padding-bottom: 3rem;
}

.pb-5 {
  padding-bottom: 3.75rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 2.25rem;
}

.pl-4 {
  padding-left: 3rem;
}

.pl-5 {
  padding-left: 3.75rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-3 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.px-4 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-5 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-3 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.py-4 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-5 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-grid {
  display: grid;
}

.d-inline-flex {
  display: inline-flex;
}

.d-inline-block {
  display: inline-block;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.container-grid {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
  margin: 0 auto;
}

.grid-gap-0 {
  gap: 0;
}

.grid-gap-x-0 {
  column-gap: 0;
}

.grid-gap-y-0 {
  row-gap: 0;
}

.grid-gap-1 {
  gap: 5px;
}

.grid-gap-x-1 {
  column-gap: 5px;
}

.grid-gap-y-1 {
  row-gap: 5px;
}

.grid-gap-2 {
  gap: 10px;
}

.grid-gap-x-2 {
  column-gap: 10px;
}

.grid-gap-y-2 {
  row-gap: 10px;
}

.grid-gap-3 {
  gap: 15px;
}

.grid-gap-x-3 {
  column-gap: 15px;
}

.grid-gap-y-3 {
  row-gap: 15px;
}

.grid-gap-4 {
  gap: 20px;
}

.grid-gap-x-4 {
  column-gap: 20px;
}

.grid-gap-y-4 {
  row-gap: 20px;
}

.grid-gap-5 {
  gap: 25px;
}

.grid-gap-x-5 {
  column-gap: 25px;
}

.grid-gap-y-5 {
  row-gap: 25px;
}

@media screen and (min-width: 0) {
  .container-grid {
    width: 320px;
  }
  .grid-xs-span-center-12 {
    grid-column: 1/13;
  }
  .grid-xs-span-center-10 {
    grid-column: 2/12;
  }
  .grid-xs-span-center-8 {
    grid-column: 3/11;
  }
  .grid-xs-span-center-6 {
    grid-column: 4/10;
  }
  .grid-xs-span-center-4 {
    grid-column: 5/9;
  }
  .grid-xs-span-center-2 {
    grid-column: 6/8;
  }
  .grid-xs-span-1 {
    grid-column: span 1;
  }
  .grid-xs-span-2 {
    grid-column: span 2;
  }
  .grid-xs-span-3 {
    grid-column: span 3;
  }
  .grid-xs-span-4 {
    grid-column: span 4;
  }
  .grid-xs-span-5 {
    grid-column: span 5;
  }
  .grid-xs-span-6 {
    grid-column: span 6;
  }
  .grid-xs-span-7 {
    grid-column: span 7;
  }
  .grid-xs-span-8 {
    grid-column: span 8;
  }
  .grid-xs-span-9 {
    grid-column: span 9;
  }
  .grid-xs-span-10 {
    grid-column: span 10;
  }
  .grid-xs-span-11 {
    grid-column: span 11;
  }
  .grid-xs-span-12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 480px) {
  .container-grid {
    width: 420px;
  }
  .grid-sm-span-center-12 {
    grid-column: 1/13;
  }
  .grid-sm-span-center-10 {
    grid-column: 2/12;
  }
  .grid-sm-span-center-8 {
    grid-column: 3/11;
  }
  .grid-sm-span-center-6 {
    grid-column: 4/10;
  }
  .grid-sm-span-center-4 {
    grid-column: 5/9;
  }
  .grid-sm-span-center-2 {
    grid-column: 6/8;
  }
  .grid-sm-span-1 {
    grid-column: span 1;
  }
  .grid-sm-span-2 {
    grid-column: span 2;
  }
  .grid-sm-span-3 {
    grid-column: span 3;
  }
  .grid-sm-span-4 {
    grid-column: span 4;
  }
  .grid-sm-span-5 {
    grid-column: span 5;
  }
  .grid-sm-span-6 {
    grid-column: span 6;
  }
  .grid-sm-span-7 {
    grid-column: span 7;
  }
  .grid-sm-span-8 {
    grid-column: span 8;
  }
  .grid-sm-span-9 {
    grid-column: span 9;
  }
  .grid-sm-span-10 {
    grid-column: span 10;
  }
  .grid-sm-span-11 {
    grid-column: span 11;
  }
  .grid-sm-span-12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 768px) {
  .container-grid {
    width: 720px;
  }
  .grid-md-span-center-12 {
    grid-column: 1/13;
  }
  .grid-md-span-center-10 {
    grid-column: 2/12;
  }
  .grid-md-span-center-8 {
    grid-column: 3/11;
  }
  .grid-md-span-center-6 {
    grid-column: 4/10;
  }
  .grid-md-span-center-4 {
    grid-column: 5/9;
  }
  .grid-md-span-center-2 {
    grid-column: 6/8;
  }
  .grid-md-span-1 {
    grid-column: span 1;
  }
  .grid-md-span-2 {
    grid-column: span 2;
  }
  .grid-md-span-3 {
    grid-column: span 3;
  }
  .grid-md-span-4 {
    grid-column: span 4;
  }
  .grid-md-span-5 {
    grid-column: span 5;
  }
  .grid-md-span-6 {
    grid-column: span 6;
  }
  .grid-md-span-7 {
    grid-column: span 7;
  }
  .grid-md-span-8 {
    grid-column: span 8;
  }
  .grid-md-span-9 {
    grid-column: span 9;
  }
  .grid-md-span-10 {
    grid-column: span 10;
  }
  .grid-md-span-11 {
    grid-column: span 11;
  }
  .grid-md-span-12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 992px) {
  .container-grid {
    width: 920px;
  }
  .grid-lg-span-center-12 {
    grid-column: 1/13;
  }
  .grid-lg-span-center-10 {
    grid-column: 2/12;
  }
  .grid-lg-span-center-8 {
    grid-column: 3/11;
  }
  .grid-lg-span-center-6 {
    grid-column: 4/10;
  }
  .grid-lg-span-center-4 {
    grid-column: 5/9;
  }
  .grid-lg-span-center-2 {
    grid-column: 6/8;
  }
  .grid-lg-span-1 {
    grid-column: span 1;
  }
  .grid-lg-span-2 {
    grid-column: span 2;
  }
  .grid-lg-span-3 {
    grid-column: span 3;
  }
  .grid-lg-span-4 {
    grid-column: span 4;
  }
  .grid-lg-span-5 {
    grid-column: span 5;
  }
  .grid-lg-span-6 {
    grid-column: span 6;
  }
  .grid-lg-span-7 {
    grid-column: span 7;
  }
  .grid-lg-span-8 {
    grid-column: span 8;
  }
  .grid-lg-span-9 {
    grid-column: span 9;
  }
  .grid-lg-span-10 {
    grid-column: span 10;
  }
  .grid-lg-span-11 {
    grid-column: span 11;
  }
  .grid-lg-span-12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 1200px) {
  .container-grid {
    width: 1140px;
  }
  .grid-xl-span-center-12 {
    grid-column: 1/13;
  }
  .grid-xl-span-center-10 {
    grid-column: 2/12;
  }
  .grid-xl-span-center-8 {
    grid-column: 3/11;
  }
  .grid-xl-span-center-6 {
    grid-column: 4/10;
  }
  .grid-xl-span-center-4 {
    grid-column: 5/9;
  }
  .grid-xl-span-center-2 {
    grid-column: 6/8;
  }
  .grid-xl-span-1 {
    grid-column: span 1;
  }
  .grid-xl-span-2 {
    grid-column: span 2;
  }
  .grid-xl-span-3 {
    grid-column: span 3;
  }
  .grid-xl-span-4 {
    grid-column: span 4;
  }
  .grid-xl-span-5 {
    grid-column: span 5;
  }
  .grid-xl-span-6 {
    grid-column: span 6;
  }
  .grid-xl-span-7 {
    grid-column: span 7;
  }
  .grid-xl-span-8 {
    grid-column: span 8;
  }
  .grid-xl-span-9 {
    grid-column: span 9;
  }
  .grid-xl-span-10 {
    grid-column: span 10;
  }
  .grid-xl-span-11 {
    grid-column: span 11;
  }
  .grid-xl-span-12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 1400px) {
  .container-grid {
    width: 1200px;
  }
  .grid-xxl-span-center-12 {
    grid-column: 1/13;
  }
  .grid-xxl-span-center-10 {
    grid-column: 2/12;
  }
  .grid-xxl-span-center-8 {
    grid-column: 3/11;
  }
  .grid-xxl-span-center-6 {
    grid-column: 4/10;
  }
  .grid-xxl-span-center-4 {
    grid-column: 5/9;
  }
  .grid-xxl-span-center-2 {
    grid-column: 6/8;
  }
  .grid-xxl-span-1 {
    grid-column: span 1;
  }
  .grid-xxl-span-2 {
    grid-column: span 2;
  }
  .grid-xxl-span-3 {
    grid-column: span 3;
  }
  .grid-xxl-span-4 {
    grid-column: span 4;
  }
  .grid-xxl-span-5 {
    grid-column: span 5;
  }
  .grid-xxl-span-6 {
    grid-column: span 6;
  }
  .grid-xxl-span-7 {
    grid-column: span 7;
  }
  .grid-xxl-span-8 {
    grid-column: span 8;
  }
  .grid-xxl-span-9 {
    grid-column: span 9;
  }
  .grid-xxl-span-10 {
    grid-column: span 10;
  }
  .grid-xxl-span-11 {
    grid-column: span 11;
  }
  .grid-xxl-span-12 {
    grid-column: span 12;
  }
}
.container-flex {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.flex-gap-0 {
  margin-left: 0;
  margin-right: 0;
}
.flex-gap-0 > * {
  padding: 0;
}

.flex-gap-1 {
  margin-left: -5px;
  margin-right: -5px;
}
.flex-gap-1 > * {
  padding: 5px;
}

.flex-gap-2 {
  margin-left: -10px;
  margin-right: -10px;
}
.flex-gap-2 > * {
  padding: 10px;
}

.flex-gap-3 {
  margin-left: -15px;
  margin-right: -15px;
}
.flex-gap-3 > * {
  padding: 15px;
}

.flex-gap-4 {
  margin-left: -20px;
  margin-right: -20px;
}
.flex-gap-4 > * {
  padding: 20px;
}

.flex-gap-5 {
  margin-left: -25px;
  margin-right: -25px;
}
.flex-gap-5 > * {
  padding: 25px;
}

@media screen and (min-width: 0) {
  .flex-xs-span-1 {
    width: 8.3333333333%;
  }
  .flex-xs-span-2 {
    width: 16.6666666667%;
  }
  .flex-xs-span-3 {
    width: 25%;
  }
  .flex-xs-span-4 {
    width: 33.3333333333%;
  }
  .flex-xs-span-5 {
    width: 41.6666666667%;
  }
  .flex-xs-span-6 {
    width: 50%;
  }
  .flex-xs-span-7 {
    width: 58.3333333333%;
  }
  .flex-xs-span-8 {
    width: 66.6666666667%;
  }
  .flex-xs-span-9 {
    width: 75%;
  }
  .flex-xs-span-10 {
    width: 83.3333333333%;
  }
  .flex-xs-span-11 {
    width: 91.6666666667%;
  }
  .flex-xs-span-12 {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .flex-sm-span-1 {
    width: 8.3333333333%;
  }
  .flex-sm-span-2 {
    width: 16.6666666667%;
  }
  .flex-sm-span-3 {
    width: 25%;
  }
  .flex-sm-span-4 {
    width: 33.3333333333%;
  }
  .flex-sm-span-5 {
    width: 41.6666666667%;
  }
  .flex-sm-span-6 {
    width: 50%;
  }
  .flex-sm-span-7 {
    width: 58.3333333333%;
  }
  .flex-sm-span-8 {
    width: 66.6666666667%;
  }
  .flex-sm-span-9 {
    width: 75%;
  }
  .flex-sm-span-10 {
    width: 83.3333333333%;
  }
  .flex-sm-span-11 {
    width: 91.6666666667%;
  }
  .flex-sm-span-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .flex-md-span-1 {
    width: 8.3333333333%;
  }
  .flex-md-span-2 {
    width: 16.6666666667%;
  }
  .flex-md-span-3 {
    width: 25%;
  }
  .flex-md-span-4 {
    width: 33.3333333333%;
  }
  .flex-md-span-5 {
    width: 41.6666666667%;
  }
  .flex-md-span-6 {
    width: 50%;
  }
  .flex-md-span-7 {
    width: 58.3333333333%;
  }
  .flex-md-span-8 {
    width: 66.6666666667%;
  }
  .flex-md-span-9 {
    width: 75%;
  }
  .flex-md-span-10 {
    width: 83.3333333333%;
  }
  .flex-md-span-11 {
    width: 91.6666666667%;
  }
  .flex-md-span-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .flex-lg-span-1 {
    width: 8.3333333333%;
  }
  .flex-lg-span-2 {
    width: 16.6666666667%;
  }
  .flex-lg-span-3 {
    width: 25%;
  }
  .flex-lg-span-4 {
    width: 33.3333333333%;
  }
  .flex-lg-span-5 {
    width: 41.6666666667%;
  }
  .flex-lg-span-6 {
    width: 50%;
  }
  .flex-lg-span-7 {
    width: 58.3333333333%;
  }
  .flex-lg-span-8 {
    width: 66.6666666667%;
  }
  .flex-lg-span-9 {
    width: 75%;
  }
  .flex-lg-span-10 {
    width: 83.3333333333%;
  }
  .flex-lg-span-11 {
    width: 91.6666666667%;
  }
  .flex-lg-span-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .flex-xl-span-1 {
    width: 8.3333333333%;
  }
  .flex-xl-span-2 {
    width: 16.6666666667%;
  }
  .flex-xl-span-3 {
    width: 25%;
  }
  .flex-xl-span-4 {
    width: 33.3333333333%;
  }
  .flex-xl-span-5 {
    width: 41.6666666667%;
  }
  .flex-xl-span-6 {
    width: 50%;
  }
  .flex-xl-span-7 {
    width: 58.3333333333%;
  }
  .flex-xl-span-8 {
    width: 66.6666666667%;
  }
  .flex-xl-span-9 {
    width: 75%;
  }
  .flex-xl-span-10 {
    width: 83.3333333333%;
  }
  .flex-xl-span-11 {
    width: 91.6666666667%;
  }
  .flex-xl-span-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .flex-xxl-span-1 {
    width: 8.3333333333%;
  }
  .flex-xxl-span-2 {
    width: 16.6666666667%;
  }
  .flex-xxl-span-3 {
    width: 25%;
  }
  .flex-xxl-span-4 {
    width: 33.3333333333%;
  }
  .flex-xxl-span-5 {
    width: 41.6666666667%;
  }
  .flex-xxl-span-6 {
    width: 50%;
  }
  .flex-xxl-span-7 {
    width: 58.3333333333%;
  }
  .flex-xxl-span-8 {
    width: 66.6666666667%;
  }
  .flex-xxl-span-9 {
    width: 75%;
  }
  .flex-xxl-span-10 {
    width: 83.3333333333%;
  }
  .flex-xxl-span-11 {
    width: 91.6666666667%;
  }
  .flex-xxl-span-12 {
    width: 100%;
  }
}
.hr-thick-white, .hr-thick-black, .hr-thick-error, .hr-thick-terciary, .hr-thick-secondary, .hr-thick-primary, .hr-medium-white, .hr-medium-black, .hr-medium-error, .hr-medium-terciary, .hr-medium-secondary, .hr-medium-primary, .hr-light-white, .hr-light-black, .hr-light-error, .hr-light-terciary, .hr-light-secondary, .hr-light-primary {
  border: none;
  width: 80%;
  margin: 1rem auto;
}

.hr-light-primary {
  height: 1px;
  background-color: blue;
}

.hr-light-secondary {
  height: 1px;
  background-color: red;
}

.hr-light-terciary {
  height: 1px;
  background-color: green;
}

.hr-light-error {
  height: 1px;
  background-color: purple;
}

.hr-light-black {
  height: 1px;
  background-color: #424242;
}

.hr-light-white {
  height: 1px;
  background-color: #f2f2f2;
}

.hr-medium-primary {
  height: 3px;
  background-color: blue;
}

.hr-medium-secondary {
  height: 3px;
  background-color: red;
}

.hr-medium-terciary {
  height: 3px;
  background-color: green;
}

.hr-medium-error {
  height: 3px;
  background-color: purple;
}

.hr-medium-black {
  height: 3px;
  background-color: #424242;
}

.hr-medium-white {
  height: 3px;
  background-color: #f2f2f2;
}

.hr-thick-primary {
  height: 5px;
  background-color: blue;
}

.hr-thick-secondary {
  height: 5px;
  background-color: red;
}

.hr-thick-terciary {
  height: 5px;
  background-color: green;
}

.hr-thick-error {
  height: 5px;
  background-color: purple;
}

.hr-thick-black {
  height: 5px;
  background-color: #424242;
}

.hr-thick-white {
  height: 5px;
  background-color: #f2f2f2;
}

.btn-hollow-white, .btn-hollow-black, .btn-hollow-error, .btn-hollow-terciary, .btn-hollow-secondary, .btn-hollow-primary, .btn-white, .btn-black, .btn-error, .btn-terciary, .btn-secondary, .btn-primary {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  transition: all 0.35s linear;
  border: 2px solid black;
  cursor: pointer;
}

.btn-primary {
  color: #f2f2f2;
  border-color: blue;
  background: blue;
}
.btn-primary:hover, .btn-primary:active {
  color: blue;
  background: #f2f2f2;
}

.btn-secondary {
  color: #f2f2f2;
  border-color: red;
  background: red;
}
.btn-secondary:hover, .btn-secondary:active {
  color: red;
  background: #f2f2f2;
}

.btn-terciary {
  color: #f2f2f2;
  border-color: green;
  background: green;
}
.btn-terciary:hover, .btn-terciary:active {
  color: green;
  background: #f2f2f2;
}

.btn-error {
  color: #f2f2f2;
  border-color: purple;
  background: purple;
}
.btn-error:hover, .btn-error:active {
  color: purple;
  background: #f2f2f2;
}

.btn-black {
  color: #f2f2f2;
  border-color: #424242;
  background: #424242;
}
.btn-black:hover, .btn-black:active {
  color: #424242;
  background: #f2f2f2;
}

.btn-white {
  color: #f2f2f2;
  border-color: #f2f2f2;
  background: #f2f2f2;
}
.btn-white:hover, .btn-white:active {
  color: #f2f2f2;
  background: #f2f2f2;
}

.btn-hollow-primary {
  color: blue;
  border-color: blue;
  background: #f2f2f2;
}
.btn-hollow-primary:hover, .btn-hollow-primary:active {
  color: #f2f2f2;
  background: blue;
}

.btn-hollow-secondary {
  color: red;
  border-color: red;
  background: #f2f2f2;
}
.btn-hollow-secondary:hover, .btn-hollow-secondary:active {
  color: #f2f2f2;
  background: red;
}

.btn-hollow-terciary {
  color: green;
  border-color: green;
  background: #f2f2f2;
}
.btn-hollow-terciary:hover, .btn-hollow-terciary:active {
  color: #f2f2f2;
  background: green;
}

.btn-hollow-error {
  color: purple;
  border-color: purple;
  background: #f2f2f2;
}
.btn-hollow-error:hover, .btn-hollow-error:active {
  color: #f2f2f2;
  background: purple;
}

.btn-hollow-black {
  color: #424242;
  border-color: #424242;
  background: #f2f2f2;
}
.btn-hollow-black:hover, .btn-hollow-black:active {
  color: #f2f2f2;
  background: #424242;
}

.btn-hollow-white {
  color: #f2f2f2;
  border-color: #f2f2f2;
  background: #f2f2f2;
}
.btn-hollow-white:hover, .btn-hollow-white:active {
  color: #f2f2f2;
  background: #f2f2f2;
}

.link-white, .link-black, .link-error, .link-terciary, .link-secondary, .link-primary {
  position: relative;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  transform: all 0.35s linear;
}
.link-white::after, .link-black::after, .link-error::after, .link-terciary::after, .link-secondary::after, .link-primary::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  transition: all 0.35s linear;
}

.link-primary {
  color: blue;
}
.link-primary:hover::after, .link-primary:active::after {
  width: 80%;
  background: blue;
}

.link-secondary {
  color: red;
}
.link-secondary:hover::after, .link-secondary:active::after {
  width: 80%;
  background: red;
}

.link-terciary {
  color: green;
}
.link-terciary:hover::after, .link-terciary:active::after {
  width: 80%;
  background: green;
}

.link-error {
  color: purple;
}
.link-error:hover::after, .link-error:active::after {
  width: 80%;
  background: purple;
}

.link-black {
  color: #424242;
}
.link-black:hover::after, .link-black:active::after {
  width: 80%;
  background: #424242;
}

.link-white {
  color: #f2f2f2;
}
.link-white:hover::after, .link-white:active::after {
  width: 80%;
  background: #f2f2f2;
}

.card-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 8px 3px rgba(242, 242, 242, 0.7);
}
.card-vertical .card-header .card-img {
  width: 100%;
}
.card-vertical .card-body {
  padding: 0.5rem 1rem 1rem;
}
.card-vertical .card-body .card-title {
  font-weight: 300;
  font-size: 1.8rem;
}
.card-vertical .card-body .card-info {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
}
.card-vertical .card-body .card-info .card-details {
  font-size: 1.1rem;
  font-weight: 200;
}
.card-vertical .card-body .card-info .card-icon {
  font-size: 1.1rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.card-vertical .card-body .card-text {
  text-align: justify;
  font-weight: 200;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.card-vertical .card-body .card-buttons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-vertical .card-body .card-buttons .card-button {
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .card-vertical .card-body .card-buttons {
    width: 100%;
  }
}
.card-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 8px 3px rgba(242, 242, 242, 0.7);
}
.card-horizontal .card-header .card-img {
  width: 100%;
}
.card-horizontal .card-body {
  padding: 0.5rem 1rem 1rem;
}
.card-horizontal .card-body .card-title {
  font-weight: 300;
  font-size: 1.8rem;
}
.card-horizontal .card-body .card-info {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
}
.card-horizontal .card-body .card-info .card-details {
  font-size: 1.1rem;
  font-weight: 200;
}
.card-horizontal .card-body .card-info .card-icon {
  font-size: 1.1rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.card-horizontal .card-body .card-text {
  text-align: justify;
  font-weight: 200;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.card-horizontal .card-body .card-buttons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-horizontal .card-body .card-buttons .card-button {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .card-horizontal {
    flex-direction: row;
  }
  .card-horizontal .card-header {
    width: 50%;
  }
  .card-horizontal .card-body {
    width: 50%;
  }
  .card-horizontal .card-body .card-title {
    font-weight: 500;
    font-size: 1.6rem;
  }
  .card-horizontal .card-body .card-info .card-details {
    font-size: 1rem;
  }
  .card-horizontal .card-body .card-info .card-icon {
    font-size: 1rem;
  }
  .card-horizontal .card-body .card-text {
    display: -webkit-box;
    text-align: left;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-horizontal .card-body .card-buttons {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .card-horizontal .card-body .card-title {
    font-size: 1.8rem;
  }
  .card-horizontal .card-body .card-info {
    flex-direction: row;
    justify-content: space-between;
  }
  .card-horizontal .card-body .card-info .card-details {
    font-size: 1.1rem;
  }
  .card-horizontal .card-body .card-text {
    font-size: 1.1rem;
    -webkit-line-clamp: 8;
  }
}
@media screen and (min-width: 1200px) {
  .card-horizontal .card-body .card-title {
    font-size: 1.5rem;
  }
  .card-horizontal .card-body .card-info .card-details {
    font-size: 0.9rem;
  }
  .card-horizontal .card-body .card-info .card-icon {
    width: 0.9rem;
    height: 0.9rem;
  }
  .card-horizontal .card-body .card-text {
    font-size: 1rem;
    -webkit-line-clamp: 6;
  }
}
.modal-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(66, 66, 66, 0.8);
  z-index: 100;
}
.modal-wrapper.open {
  animation: ScaleUp 0.35s ease-in-out 0s forwards;
}
.modal-wrapper.open .modal-large {
  transform: scale(0);
  animation: 0.5s FoldOut ease-in-out 0.25s forwards;
}
.modal-wrapper.closed {
  animation: ScaleDown 0.8s linear 0s forwards;
}
.modal-wrapper.closed .modal-large {
  animation: 0.7s FoldIn ease-in-out 0s forwards;
}

@keyframes ScaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ScaleDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes FoldOut {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  50% {
    transform: scaleX(1) scaleY(0.001);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes FoldIn {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1) scaleY(0.001);
  }
  100% {
    transform: scaleX(0) scaleY(0);
  }
}
.modal-large {
  background: #f2f2f2;
  user-select: none;
  transform: scale(0);
}
.modal-large .modal-header {
  padding: 0.8rem 1rem;
  border-bottom: 3px solid rgba(66, 66, 66, 0.2);
}
.modal-large .modal-header .modal-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
.modal-large .modal-body {
  padding: 1rem 2rem;
  max-height: 450px;
  overflow-y: scroll;
}
.modal-large .modal-body::-webkit-scrollbar {
  background: rgba(66, 66, 66, 0.1);
}
.modal-large .modal-body::-webkit-scrollbar-thumb {
  background: rgba(66, 66, 66, 0.6);
}
.modal-large .modal-body .modal-title {
  font-size: 1.5rem;
  font-weight: 300;
}
.modal-large .modal-body .modal-title::after {
  content: "";
  display: block;
  width: 70%;
  height: 2px;
  background: rgba(66, 66, 66, 0.2);
  margin: 0.5rem auto 1rem;
}
.modal-large .modal-body .modal-img {
  margin-bottom: 0.5rem;
}
.modal-large .modal-body .modal-text {
  text-align: justify;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.modal-large .modal-body .modal-text:last-child {
  margin-bottom: 0;
}
.modal-large .modal-footer {
  padding: 1rem 1.5rem;
  border-top: 3px solid rgba(66, 66, 66, 0.2);
}
.modal-large .modal-footer .modal-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.modal-large .modal-footer .modal-buttons .modal-button {
  padding: 0.4rem 1rem;
}

@media screen and (min-width: 480px) {
  .modal .modal-body .modal-text {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .modal .modal-body .modal-img {
    float: left;
    width: 60%;
    margin: 0;
    margin-right: 1rem;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}
.form .form-title {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin: 1rem auto 0;
}
.form .form-fields {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 2rem 2rem;
  background: #fff;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem auto 0;
  position: relative;
}
.form-field.long, .form-field.short {
  width: 100%;
}
.form-field.inline-field {
  flex-direction: row;
  align-items: center;
}
.form-field.inline-field > .field-label {
  margin-right: 1rem;
}
.form-field.error .field-input {
  border-color: purple;
  box-shadow: 0px 3px 5px 3px rgba(128, 0, 128, 0.2);
}
.form-field.error .error-message {
  visibility: visible;
}
.form-field .field-label {
  font-weight: 300;
  font-size: 1.1rem;
}
.form-field .field-label.radio-label {
  margin-right: 0.4rem;
}
.form-field .field-input {
  width: 100%;
  margin: 0.3rem auto;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.2rem 0.3rem;
  border: 2px solid blue;
  transition: all 0.35s ease-in-out;
  outline: none;
}
.form-field .field-input.textarea {
  resize: none;
}
.form-field .field-input:focus {
  box-shadow: 0px 3px 5px 3px rgba(255, 0, 0, 0.2);
}
.form-field .field-select {
  width: 100%;
  margin: 0.3rem auto;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.2rem 0.3rem;
  border: 2px solid blue;
  transition: all 0.35s ease-in-out;
  outline: none;
}
.form-field .field-select:focus {
  box-shadow: 0px 3px 5px 3px rgba(255, 0, 0, 0.2);
}
.form-field .field-select .select-option {
  color: #424242;
  transition: all 0.35s ease-in-out;
}
.form-field .field-select .select-option:hover, .form-field .field-select .select-option:focus {
  color: #f2f2f2;
  background-color: #424242;
}
.form-field .field-select .select-option:nth-child(odd) {
  background-color: rgba(0, 0, 255, 0.2);
}
.form-field .field-select .select-option:nth-child(even) {
  background-color: rgba(255, 0, 0, 0.2);
}
.form-field .field-radio {
  margin-right: 1rem;
}
.form-field .field-range {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  margin: 0.3rem auto;
}
.form-field .field-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  background: green;
  border: none;
}
.form-field .field-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: blue;
}
.form-field .error-message {
  visibility: hidden;
  color: purple;
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  bottom: 15%;
  left: 3%;
}

.form-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .form-field {
    margin-left: 0;
    margin-right: 0;
  }
  .form-field.short {
    width: 45%;
  }
}
.navbar {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 2px solid rgba(66, 66, 66, 0.5);
  z-index: 10000;
}

.navbar-nav {
  width: 320px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav .nav-logo {
  height: 40px;
  overflow: hidden;
}
.navbar-nav .nav-logo > * {
  max-height: 50px;
}
.navbar-nav .nav-toggler {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s linear;
}
.navbar-nav .nav-toggler:hover {
  color: #f2f2f2;
}
.navbar-nav .nav-links {
  width: 100%;
  position: absolute;
  overflow: hidden;
  max-height: 0;
  top: 50px;
  left: 0;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.navbar-nav .nav-links.nav-open {
  max-height: 500px;
  border-bottom: 2px solid rgba(66, 66, 66, 0.5);
}
.navbar-nav .nav-links .nav-link {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.3rem;
  text-align: center;
  color: #000;
}

@media screen and (min-width: 480px) {
  .navbar .navbar-nav {
    width: 420px;
  }
}
@media screen and (min-width: 768px) {
  .navbar .navbar-nav {
    width: 720px;
  }
  .navbar .navbar-nav .nav-toggler {
    display: none;
  }
  .navbar .navbar-nav .nav-links {
    width: initial;
    max-height: initial;
    inset: initial;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: visible;
  }
  .navbar .navbar-nav .nav-links .nav-link {
    padding: 0.3rem 1.5rem;
    background: red;
  }
  .navbar .navbar-nav .nav-links li {
    margin: 0 0.5rem;
  }
  .navbar .navbar-nav .nav-links li:first-child {
    margin-left: 0;
  }
  .navbar .navbar-nav .nav-links li:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .navbar .navbar-nav {
    width: 920px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar .navbar-nav {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .navbar .navbar-nav {
    width: 1200px;
  }
}