// Import Global Variables
@use "../../global/global" as global;

// Import Modals Common
@use "./modals-common" as *;

.modal-large {
  @extend %modal;
  width: 35%;

  .modal-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid map-get(global.$palette, "black");

    .modal-title {
      font-size: 1.5rem;
    }

    .modal-icon {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .modal-body {
    @extend %modal-body;
    padding: 1rem 2rem;

    .modal-img {
      width: 60%;
      float: left;
      margin-right: 1rem;
    }

    .modal-text {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .modal-footer {
    border-top: 2px solid map-get(global.$palette, "black");
    padding: 1rem 2rem;

    .buttons {
      float: right;
      margin-bottom: 1rem;
    }
  }
}
