// Import Global Variables
@use "../../global/global" as *;

// Global Modal Wrapper Settings
.modal-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba($color: map-get($palette, "black"), $alpha: 0.8);
  z-index: 100;

  &.open {
    animation: ScaleUp .5s linear 0s forwards;

    & .modal-large {
      transform: scale(0);
      animation: 1s FoldOut cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s forwards;
    }
  }
  &.closed {
    animation: ScaleDown 1.5s linear 0s forwards;

    & .modal-large {
      animation: .75s FoldIn ease-in-out 0s forwards;
    }
  }
}

@keyframes ScaleUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ScaleDown {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes FoldOut {
  0% {
    transform: scaleX(0) scaleY(0);
  }

  50% {
    transform: scaleX(1) scaleY(0.001);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes FoldIn {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(1) scaleY(0);
  }
}
