// Import Global Variables
@use "../../global/global" as global;

// Import Modals Common
@use "./modals-common" as *;

.modal-small {
  @extend %modal;

  .modal-head {
    @extend %modal-head;

    .modal-icon {
      @extend %modal-icon;
    }
  }

  .modal-body {
    @extend %modal-body;
    max-width: initial;
    overflow: hidden;
    padding: 1rem;

    .modal-text {
      @extend %modal-text;
    }
  }

  .modal-footer {
    @extend %modal-footer;
  }
}
