// Import Global Variables
@use "../global/global" as *;

%flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

%flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

%card-body {
  padding: 0.5rem 1rem;
  user-select: none;
  cursor: default;
}

%card-title {
  font-size: 1.5rem;
}

%card-details {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem auto;
  font-size: 0.85rem;
}

%details-icon {
  width: 1rem;
  height: 1rem;
}

%card-text {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

%card-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

%card-button {
  width: 100%;
  margin: 0.5rem auto;
  text-align: center;
}

.card-portrait {
  @extend %flex-column;

  .card-body {
    @extend %card-body;

    .card-title {
      @extend %card-title;
    }

    .card-details {
      @extend %card-details;

      .details-icon {
        @extend %details-icon;
      }
    }

    .card-text {
      @extend %card-text;
    }

    .card-buttons {
      @extend %card-buttons;

      .card-button {
        @extend %card-button;
      }
    }
  }
}

.card-landscape {
  @extend %flex-row;

  .card-head {
    width: 50%;
    background: red;

    .card-img {
      width: 100%;
      height: 100%;
    }
  }

  .card-body {
    @extend %card-body;
    width: 50%;

    .card-title {
      @extend %card-title;
      font-size: 1.6rem;
    }

    .card-details {
      @extend %card-details;
      flex-direction: column;
    }

    .card-text {
      @extend %card-text;
    }

    .card-buttons {
      @extend %card-buttons;
      flex-direction: row;

      .card-button {
        @extend %card-button;
        width: 49%;
        margin: 0.5rem 0;
      }
    }
  }
}

@include xs {
  .card-portrait {
    .card-details {
      flex-direction: column;
    }
  }

  .card-landscape {
    flex-direction: column;

    .card-head {
      width: 100%;
    }

    .card-body {
      width: 100%;
    }
  }
}

@include md {
  .card-landscape {
    flex-flow: row wrap;

    .card-head {
      width: 50%;
    }

    .card-body {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .card-details {
        margin-left: 0;
      }
    }
  }
}

@include lg {
  .card-landscape {
    .card-body {
      .card-details {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

@include xl {
  .card-landscape {
    .card-body {
      .card-details {
        width: 80%;
        flex-direction: column;
      }
    }
  }
}
