// Import Global Variables
@use "../global/global" as *;

%link {
    padding: .5rem 1rem;
    display: inline-block;
    position: relative; 
    transition: $base-button-transition;

    &::after {
        display: block;
        content: "";
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        transition: $base-button-transition;
    }

    &:hover,
    &:active {
        &::after {
            width: 80%;
        }
    }
}

// Generate Link Classes
@each $color, $color-value in $palette {
    .link-#{$color} {
        @extend %link;
        color: $color-value;

        &::after {
            background: $color-value;
        }
    }
}