
// Global Variables
@use "./global/global" with (
    $primary: blue,
    $secondary: red,
    $terciary: green,
    $error: purple
);

// Base Style
@use "./global/base";

// Import Utility Styles
@use "./utility/utility-main";

// Import Component Styles
@use "./components/components-main";